@model IEnumerable<Buffalo_Intex.Burialmain>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Squarenorthsouth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Headdirection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Northsouth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eastwest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Squareeastwest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Haircolor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ageatdeath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Squarenorthsouth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Headdirection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Northsouth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eastwest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Squareeastwest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Haircolor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Burialnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ageatdeath)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
