@model IEnumerable<Buffalo_Intex.Burialmain>

@{
    ViewData["Title"] = "Burial Summary";
}

<div class="text-center">
    <h1 class="display-4">Burial Summary</h1>
    <p>Below is information that has been recorded in BYU's Egyptian Archeology journals</p>
    <p>
        <a asp-action="Create" class="btn btn-primary" style="width:225px">Create New Mummy Record</a>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Squarenorthsouth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Headdirection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Northsouth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eastwest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Squareeastwest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Haircolor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ageatdeath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Squarenorthsouth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Headdirection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Northsouth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eastwest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Squareeastwest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Haircolor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Burialnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ageatdeath)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="edd">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="edd">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="edd">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="row mt-3">
    <div class="col">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">

                @if (ViewBag.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link paginators" href="@Url.Action("Index", new { pageNum = ViewBag.CurrentPage - 1 })" >Previous</a>
                    </li>
                }

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                        <a class="page-link paginators" href="@Url.Action("Index", new { pageNum = i })">@i</a>
                    </li>
                }

                @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link paginators" href="@Url.Action("Index", new { pageNum = ViewBag.CurrentPage + 1 })"style="background-color:gold;color:black;border-color:black">Next</a>
                    </li>
                }

            </ul>
        </nav>
    </div>
</div>