@{
    ViewData["Title"] = "Burial Summary";
}

@model BurialmainViewModel
<div class="text-center">
    <h1 class="display-4">Burial Summary Page</h1>
    <p>Below is information that has been recorded in BYU's Egyptian Archeology journals</p>
</div>


@foreach (Burialmain b in Model.Burialmain)
{
    <div class="card card-outline-primary m-1 p-1">
        <div class="bg-faded p-1">
            <h4>
                Square North South: @b.Squarenorthsouth
                North South: @b.Northsouth
                Square East West: @b.Squareeastwest
                East West: @b.Eastwest
                Area: @b.Area
                Burial Number: @b.Burialnumber
            </h4>
        </div>
        <div class="card-text p-1">@b.Sex</div>
        <div class="card-text p-1">@b.Depth</div>
        <div class="card-text p-1">@b.Length</div>
        <div class="card-text p-1">@b.Ageatdeath</div>
        <div class="card-text p-1">@b.Headdirection</div>
        <div class="card-text p-1">@b.Haircolor</div>
    </div>
} (edited)




<!--
<div class="text-center">
    <h1 class="display-4">Burial Summary</h1>
    <p>Below is information that has been recorded in BYU's Egyptian Archeology journals</p>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Burial ID</th>
            <th>Textile Color</th>
            <th>Textile Structure</th>
            <th>Sex</th>
            <th>Depth</th>
            <th>Estimated Stature</th>
            <th>Age at Death</th>
            <th>Head Direction</th>
            <th>Textile Function</th>
            <th>Hair Color</th>
        </tr>
    </thead>
    <!-- OUR CODE FOR PULLING THE DATA WOULD GO HERE
</table>
-->

<a asp-controller="Burialmains" asp-action="Index">View Records</a>

